@tailwind base;
@tailwind components;
@tailwind utilities;

/* As cores devem ser baseadas em sistema HSL */ 
@layer base {
  :root {
    --background: 22 0% 100%;

    --primary: 198 95% 40%; /*#058dc9*/
    --primary-foreground: 210 40% 98%;

    --secondary: 180 56% 42%; /*#2fa5a5*/
    --secondary-foreground: 222.2 47.4% 11.2%;

    --terciary: 0 0% 85%;
    --terciary-two: 0 0% 75%;
    --terciary-three: 0 2% 45%;

    --hover: 0 0% 95%;

    --border: 214.3 31.8% 91.4%;

    --primaryEdit:  198 95% 40%;

    --radius: 0.5rem;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}